/* GLOBAL */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;
  color: #4a4b4c;
}

img {
  max-width: 100%;
  height: auto;
}


/* OUTLINE STYLES */
*:focus {
  outline: 2px dashed #7296ec;
  outline-offset: 3px;
}


/* BUTTON */
.button {
  display: inline-block;
  padding: 13px 20px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button-primary {
  background-color: #7296ec;
  color: #fff;
}

.button-orange {
  background-color: #f78b3b;
  color: #fff;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER */
/* SITE-HEADER-TOP */
.site-header-top {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
}

.site-header-top-container {
  display: flex;
  align-items: center;
}

.site-header-logo {
  display: flex;
  padding: 8px 6px;
  margin-right: 35px;
  border-radius: 7px;
  background-color: #fff;
}

.site-header-logo:hover {
  opacity: 0.8;
}

.site-header-logo:active {
  opacity: 0.6;
}


/* CURRENCY-RATES */
.currency-rates {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}

.currency-rates-item:not(:last-child) {
  margin-right: 25px;
}

.currency-rates-type {
  color: #2959CE;
}


/* GLOBAL-SEARCH-FORM */
.global-search-form {
  margin-right: 25px;
}

.global-search-form-input {
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 40px;
  border: 0;
  border-radius: 60px;
  font-size: 14px;
  line-height: normal;
}


/* LANG-TOGGLE */
.lang-toggle {
  display: flex;
  padding: 3px;
  margin-right: 25px;
  border-radius: 39px;
  background-color: #dce6ff;
}

.lang-toggle-link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 30px;
  color: #a6a6a6;
  text-align: center;
  text-decoration: none;
}

.lang-toggle-link-active {
  background-color: #fff;
  color: #000;
}


/* SITENAV */
.sitenav {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.sitenav-item:not(:last-child) {
  margin-right: 34px;
}

.sitenav-link {
  display: block;
  color: #7f7f7f;
  text-decoration: none;
}

.sitenav-link:hover {
  color: #7296ec;
}

.sitenav-link:active {
  opacity: 0.6;
}

/* SITE-HEADER-BANNER */
.site-header-banner-link {
  display: flex;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 50px;
}


/* NEWS-GRID */
.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-bottom: -10px;
}

.news-grid-item {
  width: 393px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.article-card {
  display: flex;
  flex-direction: column;
  padding: 20px 17px 15px;
  border-radius: 15px;
  background-color: #f6f6f6;
}

.article-card-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.article-card-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.article-card-link:hover {
  color: #7296ec;
}

.article-card-link:active {
  opacity: 0.6;
}

.article-card-text {
  margin-top: 0;
  margin-bottom: 15px;
}

.article-card-img {
  display: block;
  width: 360px;
  height: 165px;
  margin-top: auto;
  margin-bottom: 16px;
  border-radius: 10px;
  object-fit: cover;
}

.article-card-footer {
  display: flex;
  align-items: center;
}

.article-card-source-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.article-card-source-time {
  font-size: 12px;
  line-height: normal;
  color: #5e5f61;
}


/* NOTIFICATION-CTA */
.notification-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px 25px 25px;
  margin: 60px 75px;
  border-radius: 10px;
  background-image: url(../img/notification-background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.notification-cta-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #000;
}

/* NEWS */

.news {
  padding-bottom: 100px;
}

.left-news {
  max-width: 797px;
  width: 100%;
  margin-right: auto;
}
.news-card-item {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 17px;
  background-color: #F6F6F6;
  border-radius: 15px;
  margin-bottom: 10px;
}
.left-news-image {
  width: 210px;
  height: 165px;
  margin-right: 15px;
  border-radius: 10px;
}

.left-news-btn {
  display: flex;
  justify-content: center;
  color: #000;
  width: 100%;
  padding: 17px 0;
  background-color: #EAEAEA;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 7px;
}

.left-news-btn:hover {
  opacity: 0.8;
}

.left-news-btn:active {
  opacity: 0.6;
}

.news-heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
}

.news-content {
  display: flex;
}

.left-news-texts-subtitle {
  margin-top: 10px;
  margin-bottom: 17px;
}

/* Right */ 
.right-news {
  max-width: 393px;
  width: 100%;
}

.right-news-content {
  background-color: #F6F6F6;
  border-radius: 15px;
  padding: 20px 20px 25px 17px;
}

.right-news-item-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 8px;
}

.right-news-item-title-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.right-news-time {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
}

.right-news-heading {
  margin-top: 0;
  margin-bottom: 25px;
}

.right-news-item:not(:last-child) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d2d2d2;
}

.news-banner {
  margin-top: 10px;
}

.right-news-item-title-link:hover {
  color: #7296ec;
}

.right-news-item-title-link:active {
  opacity: 0.6;
}

/* Footer */

.footer {
  padding: 40px 0;
  background-color: #7297EF;
}

.footer-container {
  margin: 0 60px;
}

.footer-top {
  margin-bottom: 30px;
  border-bottom: 1px solid #CECECE;
}

.footer-top-item:first-child {
  width: 229px;
}

.footer-top-list-father {
  display: flex;
  justify-content: space-between;
}

.footer-top-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.footer-top-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.footer-top-list li {
  margin-bottom: 20px;
}

.footer-top-link:hover {
  opacity: 0.8;
}

.footer-top-link:active {
  opacity: 0.6;
}

.footer-bottom-text {
  color: #fff;
  font-weight: 500;
}

.footer-bottom-list {
  display: flex;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-item:not(:last-child) {
  margin-right: 25px;
}

.footer-bottom-icon {
  width: 25px;
  height: 25px;
  display: block;
}

.news-section-banner {
  width: 553px;
  height: 393px;
}

.left {
  width: 696px;
}

.main-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 18px 20px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
}

.w50 {
  width: 100%;
  display: flex;
}

.w50 input {
  width: 343px;
}

.w50 .contact-label:not(:last-child) {
  margin-right: 10px;
}

.contact-textarea {
  height: 180px;
  resize: none;
  margin-bottom: 0;
}

.right-news-title-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.right-news-title {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 20px;
}

.right-news-value {
  font-size: 16px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.right {
  width: 494px;
  border-radius: 10px;
  background-color: #F6F6F6;
  padding: 40px 25px;
}

.right-news-box {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d2d2d2;
}